<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.jugglerdave.minimalindego" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MinimalBlueBikesApplication"
        android:versionCode="3"
        android:versionName="v1.1"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.StationListActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_title_action_bar"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".activity.StationDetailActivity"
            android:label="@string/title_activity_station_detail"
            android:parentActivityName=".activity.StationListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.jugglerdave.minimalindego.activity.StationListActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.StationListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.jugglerdave.minimalindego.activity.StationListActivity" />
        </activity>
        <activity
            android:name=".activity.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".activity.StationListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.jugglerdave.minimalindego.activity.StationListActivity" />
        </activity>
    </application>

</manifest>
